@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:300:400,600&display=swap');
html,
body {
    width:100%;
    height: 100%;
}

body {
    background-color: #2ecc71;
}
.container{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.js-weather {
    position: absolute;
    top: 15px;
    left: 12px;
    color: #130f40;
    font-weight: 600;
}
.greetings {
    margin:0px;
    position: absolute;
    top:-130px;
    left: 10px;
    color: #f0932b;
    padding: 12px 10px;   
    border-radius: 10px;
}
.todayISFamouSaying{
    font-weight: 600;
    opacity: 0.9;
    border-radius: 10px;
    width:65%;
    position: absolute;
    top:-90px;
    left:20px;
    padding:3px 0px 3px 5px;
    margin:0px;
    color: #57606f;
    background-color: #ced6e0;
}
.fighting{
    color: orange;
}
.clock{
    font-size: 35px;
    text-shadow: 6px 6px 3px rgba(0, 0, 0, 0.2);
    margin-left: 30px;
}
.clock .js-title{
    color: #eb4d4b;
    opacity: 1.3;
    margin:25px;
}
.js-toDoList{
    font-weight: bold;
    opacity: 0.6;
    list-style: none;  
    background-color: #dfe4ea;
    border-radius: 10px;
    margin-bottom: 5px;
    padding:3px 0px 3px 8px;
}

.js-toDoForm input {
    margin: 0px 20px;
}
.toDoList {
    padding-bottom:5px;
}
.btn {
    cursor : pointer;
    background-color: #df6563;
    margin-left: 20px;
    border-radius: 20px;
    position: absolute;
    right: 20px;
    /* margin-bottom: 100px */
}

h1 {
    color: #34495e;
    transition: color 0.5s ease-in-out;
}

.clicked {
    color: #7f8c8d;
}
.form,
.greetings {
    display: none;
}
.showing {
    display: block;
}

.bgImage {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    } to{
        opacity: 1;
    }
}