@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:300:400,600&display=swap');
html,
body {
    width:100%;
    height: 100%;
}

body {
    background-color: #2ecc71;
    
}
.container{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed;
    top:30vh;
    left: 80vh; */
    
    /* width:300px; */
    
}
.box{ 
    background-color: #c7ecee;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.js-weather {
    position: absolute;
    top: 15px;
    left: 12px;
    color: #130f40;
    font-weight: 600;
}
.greetings {
    position: absolute;
    top:-100px;
    left: 0px;
    background-color: white;
    color: #f0932b;
    width: 150px;
    height: 50px;
    text-align: center;    
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.greetingsNameColor{
    color: orange;
}
/* .form{
    display: block;
} */
.clock{
    font-size: 35px;
    text-shadow: 6px 6px 3px rgba(0, 0, 0, 0.2);
    margin-left: 30px;
}
.clock .js-title{
    color: #eb4d4b;
}
.js-toDoList{
    list-style: none;  
}

.js-toDoForm input {
    margin: 0px 20px;
}




.btn {
    cursor : pointer;
    background-color: #eb4d4b;
    margin-left: 10px;
}
h1 {
    color: #34495e;
    transition: color 0.5s ease-in-out;
}

.clicked {
    color: #7f8c8d;
}

.form,
.greetings {
    display: none;
}
.showing {
    display: block;
}

.bgImage {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    } to{
        opacity: 1;
    }
}